<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <meta charset="utf-8">
    <!-- CSS & JS -->
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>MONA</title>
</head>
<body>
<div class="container-fluid">

    <!--<div id="info" style="padding-left:2ch; padding-right: 2ch">
        <div>


        </div>
    </div>-->
    <h1>MONA </h1>
            <h2>Virtual Observer User Interface</h2>

    <div class="row mapdiv" >
        <div class="col" style="padding:20px; width: 100%">

            <div>
                <table style="width:40%" id="waypntstable">

                </table>
            </div>
            <br>
            <div >
        <p>Add new Virtual Observer:</p>
            Name: <input id="newname" type="text" size="6" name="name"> <br/>
            Lat: <input id="newlat" type="text" size="6" name="lat"> <br/>
            Lon: <input id="newlon" type="text" size="6" name="lon"> <br/>
            Elevation: <input id="alt" type="text" size="4" name="alt"> m <br/>

            <button onclick="addNewWaypoint()">Add</button>
    </div>



        </div>
        <div class="col">
        <div id="map"></div>
        <!-- bring in the google maps library -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key="></script>
        <script type="text/javascript">
        </script>


        </div>
    </div>




</div>
<script>
    let lastwaypoint = 0;

    const Http = new XMLHttpRequest();
    const url='/example';
    Http.open("GET", url);
    Http.send();
    Http.onreadystatechange = (e) => {
        console.log(Http.responseText)
        initMap(JSON.parse(Http.responseText));

    };


    let listOfMarkers = [];
    function initMap(listway) {
        clearMap();
        listOfMarkers = []


        document.getElementById("waypntstable").innerHTML = null;
        var heading = document.createElement("tr");
        heading.innerHTML = "<th>Name:</th>\n" +
            "                    <th>Lat:</th>\n" +
            "                    <th>Long:</th>"
        document.getElementById("waypntstable").appendChild(heading);

        for (var waypoint in listway) {
            (function () {
                // Add the circle for this city to the map.
                let name = listway[waypoint][0];
                let cen = {};
                cen['lat'] = parseFloat(listway[waypoint][1]);
                cen['lng'] = parseFloat(listway[waypoint][2]);
                let colid = "Waypoint-"+waypoint;
                addWaypointToCol(name,colid,cen['lat'],cen['lng']);
                addWaypointToMap(name,cen);



            }());
            lastwaypoint = waypoint;

        }
    }

    function clearMap(){
        for (index in listOfMarkers){
            listOfMarkers[index].setMap(null);
        }
    }

    function addWaypointToMap(name,cen){
        var cityCircle = new google.maps.Marker({
                    position: cen,
                    map: map,
                    title: name,
                    draggable: true,
                    label: {
                        color: 'black',
                        fontWeight: 'bold',
                        text: name,
                    },
                    icon: {
                        labelOrigin: new google.maps.Point(11, 50),
                        size: new google.maps.Size(22, 40),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(11, 40),
                    },
                });

                listOfMarkers.push(cityCircle);

                google.maps.event.addListener(cityCircle, "drag", function(){
                    console.log(cityCircle.getTitle());
                    let latid = cityCircle.getTitle() + "-lat";
                    document.getElementById(latid).value = cityCircle.getPosition().lat().toFixed(6);
                    let longid = cityCircle.getTitle() + "-long";
                    document.getElementById(longid).value = cityCircle.getPosition().lng().toFixed(6);
                });

                var infowindow = new google.maps.InfoWindow({
                    content: cityCircle.getTitle()
                });
                cityCircle.addListener('click', function () {
                    infowindow.open(map, cityCircle);
                });
    }

    function addNewWaypoint(){
        let n = document.getElementById("newname").value;
        let lt = document.getElementById("newlat").value;
        let ln = document.getElementById("newlon").value;
        let npos = {};
                npos['lat'] = parseFloat(lt);
                npos['lng'] = parseFloat(ln);
        lastwaypoint++;
        addWaypointToCol(n,"Waypoint-"+lastwaypoint, lt, ln);
        addWaypointToMap(n,npos)
    }
    function addWaypointToCol(wname, wcolid, wlat, wlng){
        var col = document.createElement("tr");
                col.id = wcolid;
                console.log(wcolid);

                col.innerHTML = "<th><input id="+wname+"-name value = "+wname+"></input></th>\n" +
                    "                    <th><input id="+wname+"-lat value="+wlat+"></input></th>\n" +
                    "                    <th><input id="+wname+"-long value="+wlng+"></input></th>" +
                    "<button type=\"button\" class=\"close\" aria-label=\"Close\" id=\"rmvbutton\" onclick=\"removeWaypoint(\'"+wcolid+"\')\"   " +
                    "  <span aria-hidden=\"true\">&times;</span>\n" +
                    "</button>";
                //document.getElementById("rmvbutton").addEventListener("click", removeCol(colid));
                document.getElementById("waypntstable").appendChild(col);
    }
    function removeWaypoint(id){
        console.log(id)
        var elem = document.getElementById(id);
        console.log(id.substring(9,));
        let ind = parseInt(id.substring(9,));
        listOfMarkers[ind].setMap(null);
        elem.parentNode.removeChild(elem);
        return false;
    }
    // Construct the circle for each value in citymap.
    // Note: We scale the area of the circle based on the population.

</script>
<script type="text/javascript" src = "../static/js/apimap.js"></script>
</body>
</html>